@if(card){
    <div>
        <span>
            <img class="img" [src]="card.image"/>
        </span>
        <!-- TODO: add more details to the card page from API -->
        <span class="cardDetails">
            <h1>Card Title: &nbsp; {{card.name}} ({{card.releaseDate}})</h1>
            <h2>Card Cost: &nbsp; ${{card.cost}}</h2>
            <section class="colorSection">
                <h2 class="cardColor">Card Colors: </h2>
                @for(currentColor of card.colors; track currentColor){
                    @if (currentColor == 'U') {
                        <img class="blueImg" src="../../../assets/icons/Blue.png" />
                    }
                    @if (currentColor == 'B') {
                        <img class="blueImg" src="../../../assets/icons/Black.png" />
                    }
                    @if (currentColor == 'R') {
                        <img class="blueImg" src="../../../assets/icons/Red.png" />
                    }
                    @if (currentColor == 'G') {
                        <img class="blueImg" src="../../../assets/icons/Green.png" />
                    }
                    @if (currentColor == 'W') {
                        <img class="blueImg" src="../../../assets/icons/White.png" />
                    }
                }
            </section>
            
            <h2>Set Name: &nbsp; {{card.set}}</h2>
            <h2>Format Legalities</h2>
            <ul>
                <li>
                    Commander: {{card.commander}}
                </li>
                <li>
                    Standard: {{card.standard}}
                </li>
                <li>
                    Modern: {{card.modern}}
                </li>
                <li>
                    Duel: {{card.duel}}
                </li>
            </ul>
        </span>
    </div>
}



