<div class="center">
    <h2>
        <input [(ngModel)]="searchQuery" type="text" placeholder="Search Magic Cards"/>
    </h2>
    <h2>
        <button (click)="searchCards()">Search</button>
    </h2>
</div>

<div class="card-list">
    @for(currentCard of cards; track currentCard.id){
        <div class="card-container" (contextmenu)="onContextMenu($event, currentCard)">
            <a [routerLink]="['/searchCards/', currentCard.id]" routerLinkActive="active">
                <img [src]="currentCard.image">
            </a>
            <button class="add-button" (click)="addToMongoDB(currentCard)" title="Add to Bulk">
                <span class="plus-icon">+</span>
            </button>
        </div>
    }
</div>

@if(showContextMenu) {
    <div class="context-menu" 
         [style.left.px]="contextMenuPosition.x"
         [style.top.px]="contextMenuPosition.y"
         (click)="$event.stopPropagation()">
        <div class="context-menu-item" (click)="addToMongoDB()">
            Add to MongoDB
        </div>
    </div>
}

@if(showNotification) {
    <div class="notification">
        {{ notificationMessage }}
    </div>
}

