@if(card){
    <div>
        <div class="centerText">
            <!-- TODO: need to make a check to see if it is the same day, if so
            grab the same card -->
            <h1>The color of the day is: </h1>
            @if(card.colors[0].trim() == ''){
                <h2>Blue</h2>
            }@else{
                @if (card.colors[0] == 'U') {
                    <img class="blueImg" src="../../../assets/icons/Blue.png" />
                }
                @if (card.colors[0] == 'B') {
                    <img class="blueImg" src="../../../assets/icons/Black.png" />
                }
                @if (card.colors[0] == 'R') {
                    <img class="blueImg" src="../../../assets/icons/Red.png" />
                }
                @if (card.colors[0] == 'G') {
                    <img class="blueImg" src="../../../assets/icons/Green.png" />
                }
                @if (card.colors[0] == 'W') {
                    <img class="blueImg" src="../../../assets/icons/White.png" />
                }
                
            }
        </div>
        <div class="centerText"> 
            <!-- TODO: make the image more dynamic with the page -->
            <h1>The card of the day is: </h1>
            <img [src]="card.image"/>
        </div>
    </div>
}

