.centerText{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

div{
    color: #6F8FAF;
}

img{
    height: auto;   
    width: 100%;
    padding: 20px;
    max-width: 400px;
    margin: 20px;
}

.blueImg{
    height: 150px;
    width: auto;
    align-self: center;
    padding-left: 10px;
}

